* {
    box-sizing: border-box;
}

body {
    background-color: #77e6dc;
    margin: 0;
    max-height: 100vh;
    padding: 0 20px;
}
.main-header{
    background-color: rgb(233, 110, 110);
}
.google-map{
    border-radius: 5px;
    border: 1px solid black;
}
.curr-location{
    background-color: rgb(174, 238, 113);
 text-align: center;
    
}
.main-info{
    flex-grow: 1;
    background-color: rgb(223, 177, 177);
}
.main-info .weather{
    background-color: #fff;
    height: 40%;
    width: 90%;
    margin-bottom: 10px;
    
}
.locations{
    height: 40%;
    background-color: rgb(58, 71, 141);
    width: 90%;
}




/* modal-input */
.input-name-container{
    justify-content: center;
   
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}